<head>

    <link href="../../../../Content/assets/shubham_css/style.css" rel="stylesheet" />
</head>

<style>
    ::-webkit-scrollbar-thumb {
        border-radius: 1em;
        background-color: #999 !important;
    }
</style>

<div class="row">
    <div class="col-lg-6">
        <div class="header" style="margin-top:12px;">
            <h2 class="page-title">Create Delivery Schedule</h2>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 page-title-right-container text-right">
        <a href="/#!/LeadAssessment?LeadID={{$ctrl.AssessmentInfo.LeadID}}" class="btn create-btn">Back</a>
    </div>
</div>

<br />

<ul class="accordian">
    <li>
        <span data-toggle="collapse" data-target="#acco1" title="Contact Detail" class="acco-tab spl-tab toggle-spl-plus">Opportunity Details  - <span>{{$ctrl.AssessmentInfo.LeadID}}</span>
        <div id="acco1" class="collapse customer-form acco-content transition">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Opportunity No</label>
                        <!--<div class="col-md-3" ng-class="{ 'has-error' : (userForm.txtCustomerName.$invalid && userForm.txtCustomerName.$pristine) }">-->
                        <input type="text" id="txtSAPID" disabled="disabled" ng-model="$ctrl.AssessmentInfo.LeadID" name="txtSAPID" class="form-control" required>
                        <!--<p ng-show="(userForm.txtCustomerName.$invalid && !userForm.txtCustomerName.$pristine)" id="errorWOType" class="help-block" style="color:red">Customer Name is required.</p>-->
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="Address">Date</label>
                        <input id="hfDate" type="hidden" name="hfFromDate">
                        <input name="txtBirDate" placeholder="DD MMM YYYY" ng-model="$ctrl.AssessmentInfo.BirthDate" input="hfBirDate" data-intro="true" id="txtBirDate" style="width: 108%;" class="form-control" disabled="disabled">
                    </div>
                </div>
                <div class="col-lg-3">
                    <!--<div class="form-group">-->
                    <!--<label class="btn-link pull-right" data-toggle="modal" ng-click="$ctrl.PullContactData(item);">Pull Primary Contact</label>-->
                    <!--<label>Customer Name</label>-->
                    <!--<div class="col-md-3" ng-class="{ 'has-error' : (userForm.txtCustomerName.$invalid && userForm.txtCustomerName.$pristine) }">-->
                    <!--<input type="text" id="txtCustomerName" disabled="disabled" name="txtCustomerName" placeholder="Customer Name" class="form-control" required>

                    </div>-->
                    <div class="form-group">
                        <label>Opportunity Status</label>
                        <select id="txtLeadStatusId" class="form-control" ng-model="$ctrl.AssessmentInfo.LeadStatusId" style="width:100%" disabled>
                            <option value="">Select</option>
                            <option ng-repeat="item in $ctrl.LeadStatusDropDown" value={{item.LeadStatusID}}>{{item.Status}}</option>
                        </select>
                    </div>
                </div>
                <!--<div class="col-lg-3">
                <div class="form-group">
                    <label>Customer Phone No</label>
                    <input type="text" id="txtPhoneNo" disabled="disabled" ng-model="$ctrl.AssessmentInfo.PhoneNo" maxlength="10" name="txtPhoneNo" class="form-control" required>-->
                <!--<p ng-show="(userForm.txtMobileNo.$invalid && !userForm.txtMobileNo.$pristine)" id="errorWOType" class="help-block" style="color:red">Mobile Number is required.</p>-->
                <!--</div>
                </div>-->
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Customer Name</label>
                        <!--<div class="col-md-3" ng-class="{ 'has-error' : (userForm.txtContactPerson.$invalid && userForm.txtContactPerson.$pristine) }">-->
                        <input type="text" id="txtCustomerPerson" disabled="disabled" ng-model="$ctrl.AssessmentInfo.CompanyName" name="txtContactPerson" class="form-control" placeholder="Customer Person(min 5 characters)" min="5" required>
                        <!--<p ng-show="(userForm.txtContactPerson.$invalid && !userForm.txtContactPerson.$pristine)" id="errorWOType" class="help-block" style="color:red">Contact Person is required.</p>-->
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Contact Name</label>
                        <!--<div class="col-md-3" ng-class="{ 'has-error' : (userForm.txtContactPerson.$invalid && userForm.txtContactPerson.$pristine) }">-->
                        <input type="text" id="txtContactPerson" disabled="disabled" ng-model="$ctrl.AssessmentInfo.ContactName" name="txtContactPerson" class="form-control" placeholder="Contact Person(min 5 characters)" min="5" required>
                        <!--<p ng-show="(userForm.txtContactPerson.$invalid && !userForm.txtContactPerson.$pristine)" id="errorWOType" class="help-block" style="color:red">Contact Person is required.</p>-->
                    </div>
                </div>
                <div class="col-md-9 text-right">
                    <div class="form-group">
                        <button id="#" style="margin-top:30px;" class="btn create-btn pull-right" data-toggle="modal" data-target="#myModal" ng-click="$ctrl.Add();">Details</button>
                    </div>
                </div>
            </div>


        </div>
    </li>
    <li class="laed-id-container">
        <span class="acco-tab spl-tab toggle-spl-plus" id="LeadID" data-toggle="collapse" data-target="#acco10">Item List</span>
        <div class="collapse" id="acco10">
            <div class="row">
                <!--<div class="col-md-12 text-right ">
                    <a href="/#!/DeliverySchedule" class="btn create-btn" ng-click="navigateToDeliverySchedule()">Delivery Schedule</a>

                </div>-->

                
            </div>
            <br />

            <div class="row">
                <div class="col-md-12">
                    <div class="table-sub-container">
                        <div id="div-1" class="body" style="overflow:scroll">
                            <div class="row" style="margin:0px">
                                <div class="col-md-12 table-responsive" style="padding:0px;overflow:auto">
                                    <table id="myTable" cellspacing="0" rules="all" class="table table-bordered table-condensed customer-list-table table-responsive" border="1" style="width:100%;border-collapse:collapse;">
                                        <thead class="customer-list-heading">

                                            <tr>

                                                <th>Sr. No.</th>
                                                <th>Item Description</th>
                                                <th>Quantity</th>
                                                <th>Item Status</th>
                                                <th>Action</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in $ctrl.LeadItemlist">

                                                <td>{{item.ItemID}}</td>
                                                <td>{{item.ProductDesc}}</td>
                                                <td>{{item.Quantity}}</td>
                                                <td>{{item.Status}}</td>
                                                <td>
                                                    <span class="edit-table-link" data-toggle="modal" data-target="#myModalAdd" ng-click="$ctrl.Edit(item.ItemID);"><i class="fa fa-edit" aria-hidden="true"></i></span>
                                                </td>

                                                <td><a class="delete-table-link" data-toggle="modal" data-target="#myAlert" ng-click="$ctrl.DeleteTarget(item.TargetID);"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </li>

    <li>
        <span data-toggle="collapse" data-target="#acco2" title="Personal Detail" class="acco-tab spl-tab toggle-spl-plus">Delivery Details</span>
        <div id="acco2" class="collapse customer-form acco-content transition">
            <div class="row">
                <!--<div class="col-lg-3">
                <div class="form-group">
                    <label>Delivery No.</label>-->
                <!--<div class="col-md-3" ng-class="{ 'has-error' : (userForm.txtCustomerName.$invalid && userForm.txtCustomerName.$pristine) }">-->
                <!--<input type="text" id="txtName" ng-model="$ctrl.AssessmentInfo.AssistantName" name="txtName" class="form-control" required>-->
                <!--<p ng-show="(userForm.txtCustomerName.$invalid && !userForm.txtCustomerName.$pristine)" id="errorWOType" class="help-block" style="color:red">Customer Name is required.</p>-->
                <!--</div>
                </div>-->
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Sr. No.</label>
                        <!--<div class="col-md-3" ng-class="{ 'has-error' : (userForm.txtCustomerName.$invalid && userForm.txtCustomerName.$pristine) }">-->
                        <input type="text" id="txtItemNo" ng-model="$ctrl.DeliveryDetailsModel.ItemNo" name="txtItemNo" class="form-control" required disabled>
                        <!--<p ng-show="(userForm.txtCustomerName.$invalid && !userForm.txtCustomerName.$pristine)" id="errorWOType" class="help-block" style="color:red">Customer Name is required.</p>-->
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Item Description</label>
                        <!--<div class="col-md-3" ng-class="{ 'has-error' : (userForm.txtCustomerName.$invalid && userForm.txtCustomerName.$pristine) }">-->
                        <input type="text" id="txtItemDescription" ng-model="$ctrl.DeliveryDetailsModel.ItemDesc" name="txtItemDescription" class="form-control" required disabled>
                        <!--<p ng-show="(userForm.txtCustomerName.$invalid && !userForm.txtCustomerName.$pristine)" id="errorWOType" class="help-block" style="color:red">Customer Name is required.</p>-->
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="Address">Delivery Date</label>
                        <input name="DeliveryDate" placeholder="DD MMM YYYY" ng-model="$ctrl.DeliveryDetailsModel.DeliveryDate" input="DeliveryDate" data-intro="true" id="DeliveryDate" style="width: 108%;" class="form-control">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Delivery Quantity</label>
                        <!--<div class="col-md-3" ng-class="{ 'has-error' : (userForm.txtCustomerName.$invalid && userForm.txtCustomerName.$pristine) }">-->
                        <input type="text" id="DeliveryQty" ng-model="$ctrl.DeliveryDetailsModel.DeliveryQty" name="DeliveryQty" class="form-control" required>
                        <!--<p ng-show="(userForm.txtCustomerName.$invalid && !userForm.txtCustomerName.$pristine)" id="errorWOType" class="help-block" style="color:red">Customer Name is required.</p>-->
                    </div>
                </div>

                <div class="col-md-12 text-right">
                    <div class="form-group">
                        <label class="label-block">&nbsp;</label>
                        <input type="submit" value="Add to cart" id="btnSubmit" ng-click="$ctrl.TSAssignmentCart();" class="btn search-btn">
                        <!--<input type="submit" value="Submit" id="btnSubmit" style="margin-top: 20px;margin:8px;background-color: #f48c41;border: none;color:black;margin-right: -65px;" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myAlert">-->
                    </div>
                </div>
            </div>

            <!--<div class="row">
                <div class="col-md-12">
                    <div class="table-sub-container">
                        <div id="div-1" class="body" style="overflow:scroll">
                            <div class="row" style="margin:0px">
                                <div class="col-md-12 table-responsive" style="padding:0px;overflow:auto">
                                    <table id="myTable" cellspacing="0" rules="all" class="table table-bordered table-condensed table-responsive" border="1" style="width:100%;">
                                        <thead class="">
                                            <tr>
                                                <th>Sr. No.</th>
                                                <th>Item Description</th>
                                                <th>Delivery Date</th>
                                                <th>Delivery Quantity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in $ctrl.TSAssignmentList;">
                                                <td>{{data.ItemNo}}</td>
                                                <td>{{data.ItemDesc}}</td>
                                                <td>{{data.DeliveryQty}}</td>
                                                <td>{{data.DeliveryDate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>-->

    
    <li>
        <div class="row">
            <div class="col-llg-12 col-md-12">
                <div class="table-container">

                    <h2 class="section-header-title">Add to Cart List</h2>
                    <!--<div class="form-group">
                    <label class="label-block" style="margin-top: 3px;">&nbsp;</label>

                    <input type="submit" value="Add to cart" id="btnSubmit" class="btn search-btn pull-right" ng-click="$ctrl.SubmitCustomer();">-->
                    <!---->
                    <!--</div>-->

                    <div class="row">

                        <div class="col-md-12" id="divlist">
                            <div class="table-sub-container">
                                <div id="div-1" class="body">
                                    <div class="row">
                                        <!--<div class="col-lg-6 col-md-6">
                                            <label class="table-label">Count - {{$ctrl.CreateLeadList.length}} </label>
                                        </div>-->
                                        <!--<div class="col-lg-6 col-md-6 text-right">
                                            <label class="table-label">Records/Page - </label>
                                            <select name="Status" id="DDLStatus" ng-change="$ctrl.Refresh()" ng-model="$ctrl.NoOfRds" class="no-record-dropdown">
                                                <option value=10>10</option>
                                                <option value=30>30</option>
                                                <option value=50>50</option>
                                            </select>
                                        </div>-->
                                    </div>
                                    <br />
                                    <div class="validation-table table-responsive" style="overflow:auto;">
                                        <table id="dataTable" class="table table-striped table-bordered customer-list-table">
                                            <thead class="customer-list-heading">
                                                <tr>
                                                    <th>Sr. No.</th>
                                                    <th>Item Description</th>
                                                    <th>Delivery Date</th>
                                                    <th>Delivery Quantity</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in $ctrl.TSAssignmentList;">
                                                    <td>{{data.ItemNo}}</td>
                                                    <td>{{data.ItemDesc}}</td>
                                                    <td>{{data.DeliveryQty}}</td>
                                                    <td>{{data.DeliveryDate}}</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div id="nullDataDiv" style="display: none;">
                                        <div class="mdl-grid jumbotron">
                                            <h3 class="page-header" style="color: brown; margin-left: 33%">
                                                <i class="fa fa-exclamation-triangle">
                                                </i>&nbsp; No Data available
                                            </h3>
                                        </div>
                                    </div>

                                </div>
                                <div class="row nex-prev-container">
                                    <div class="col-lg-12 col-md-12 text-right">
                                        <button ng-show="$ctrl.ShowBack" ng-click="$ctrl.back()" class="btn btn-default">Prev</button>
                                        <button ng-show="$ctrl.ShowNext" ng-click="$ctrl.next()" class="btn btn-default">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Search Loader Started -->
                    <div class="search-loader" id="search-btn-loader">
                        <div class="search-loader-container">
                            <img class="search-gif-loader" src="../../../../../Content/assets/img/loader-icon.gif" />
                        </div>
                    </div>
                    <!-- Search Loader Ended -->
                    <br />

                    <!--<div class="row">
                        <div class="col-lg-12">
                            <div class="form-group text-right">


                                <input type="submit" value="Submit" id="btnSubmit" ng-click="$ctrl.Submit();" class="btn search-btn ">
                                <button id="btnClear" ng-click="$ctrl.Clear();" type="button" class="btn clear-btn ">Clear</button>

                            </div>
                        </div>
                    </div>-->
                </div>

    </li>


    <div class="row">
        <div class="col-md-12 text-right">
            <div class="form-group">
                <label class="label-block" style="margin-top: 25px;">&nbsp;</label>
                <input type="submit" value="Submit" id="btnSubmit" ng-click="$ctrl.Submit();" class="btn search-btn">
                <!--<input type="submit" value="Submit" id="btnSubmit" style="margin-top: 20px;margin:8px;background-color: #f48c41;border: none;color:black;margin-right: -65px;" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myAlert">-->
            </div>
        </div>
    </div>
    <!--<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <label>Marital Status</label>
            <select id="txtStatus" name="Marital" ng-model="$ctrl.AssessmentInfo.MaritalStatus" class="form-control">
                <option value="">Select</option>
                <option value="1">Married</option>
                <option value="0">UnMarried</option>
            </select>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>Spouse</label>
            <!--<div class="col-md-3" ng-class="{ 'has-error' : (userForm.txtCustomerName.$invalid && userForm.txtCustomerName.$pristine) }">-->
    <!--<input type="text" id="txtSpouse" ng-model="$ctrl.AssessmentInfo.Spouse" name="txtSpouse" class="form-control" required>-->
    <!--<p ng-show="(userForm.txtCustomerName.$invalid && !userForm.txtCustomerName.$pristine)" id="errorWOType" class="help-block" style="color:red">Customer Name is required.</p>-->
    <!--</div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Address">Anniversary Date</label>

                <input id="hfDate" type="hidden" name="hfFromDate">
                <input name="txtAnniverDate" placeholder="DD MMM YYYY" ng-model="$ctrl.AssessmentInfo.AnniversaryDate" input="hfAnniverDate" data-intro="true" id="txtAnniverDate" style="width: 108%;" class="form-control">

            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Address">Spouse Birth Date</label>

                <input id="hfDate" type="hidden" name="hfFromDate">
                <input name="txtSpouBirthDate" placeholder="DD MMM YYYY" ng-model="$ctrl.AssessmentInfo.SpouseBirthDate" input="hfSpouBirthDate" data-intro="true" id="txtSpouBirthDate" style="width: 108%;" class="form-control">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label>Children</label>
                <select id="txtChildren" name="Children" ng-model="$ctrl.AssessmentInfo.Children" class="form-control">
                    <option value="">Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Language Preference</label>
                <select id="txtLang" name="Language" ng-model="$ctrl.AssessmentInfo.Language" class="form-control">
                    <option value="">Select</option>
                    <option value="0">Hindi</option>
                    <option value="1">English</option>
                    <option value="2">Gujarati</option>
                    <option value="3">Hindustani</option>
                    <option value="4">Bengali</option>
                    <option value="5">Punjabi</option>
                    <option value="6">Sanskrit</option>
                    <option value="7">Sindhi</option>
                    <option value="8">Tamil</option>
                    <option value="9">Kannada</option>
                    <option value="10">Urdu</option>
                    <option value="11">Telugu</option>
                    <option value="12">Malayalam</option>
                    <option value="13">Marathi</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Smoking Preference</label>
                <select id="txtLang" name="Language" ng-model="$ctrl.AssessmentInfo.SmokingPreference" class="form-control">
                    <option value="">Select</option>
                    <option value="1">Smoker</option>
                    <option value="0">Non-Smoker</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Drinking Preference</label>
                <select id="txtLang" name="Language" ng-model="$ctrl.AssessmentInfo.DrinkingPreference" class="form-control">
                    <option value="">Select</option>
                    <option value="1">Drink</option>
                    <option value="0">Doesn't Drink</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label>Meal Preference</label>
                <select id="txtLang" name="Language" ng-model="$ctrl.AssessmentInfo.MealPreference" class="form-control">
                    <option value="">Select</option>
                    <option value="1">Veg</option>
                    <option value="0">Non-Veg</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Address">Special Comments</label>
                <textarea rows="3" cols="30" id="txtComm" ng-model="$ctrl.AssessmentInfo.Comments" name="txtComm" class="form-control">
                </textarea>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="label-block" style="margin-top: 25px;">&nbsp;</label>
                <input type="submit" value="Submit" id="btnSubmit" ng-click="$ctrl.Submit();" class="btn search-btn">
                <input type="submit" value="CreateInSAP" id="btnCreateInSAP" ng-click="$ctrl.CreateInSAP();" class="btn search-btn">-->
    <!--<input type="submit" value="Submit" id="btnSubmit" style="margin-top: 20px;margin:8px;background-color: #f48c41;border: none;color:black;margin-right: -65px;" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myAlert">-->
    <!--</div>
        </div>

    </div>-->
    </div>
    </li>

</ul>



<div id="succeess-message-box" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->

        <div class="modal-content">
            <div class="modal-header" id="success-modal-head">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title success-modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <p>
                    <img id="success-img-id" style="width: 40px;" src="../../../../../Content/assets/img/success-img.gif" />
                    <img id="error-img-id" style="width: 28px;" src="../../../../../Content/assets/img/error-img.png" />
                    <span id="message-text">Data Inserted Successfully</span>
                </p>
            </div>
            <div class="modal-footer message-modal-footer">
                <button type="button" class="btn btn-default" ng-click="$ctrl.Close();" id="close" data-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.ErrorClose();" id="errorclose" data-dismiss="modal">Ok</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="DeliveyDetailsModel" tabindex="-2" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
    <div class="modal-dialog modal-2">
        <div class="modal-content " style="position: relative">
            <div class="modal-header modal-head">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title modal-head-title"> ITEM DETAILS | Sr. No. - {{$ctrl.AssessmentInfo.LeadID}}</h3>
            </div>

            <div id="div-1" class="modal-body">
                <form class="form-horizontal" name="userForm" novalidate>
                    <!--<div class="modal-header">
                        <div class="row">-->
                    <!--<div class="col-md-12 text-right">
                    <a href="/#!/DeliverySchedule" class="btn create-btn pull-right" title="LeadAssessment">Delivery Schedule</a>-->
                    <!--<input type="submit" id="activity-submit" value="Create Delivery Schedule" ng-click="$ctrl.Submit();" class="btn create-btn pull-right">-->
                    <!--</div>-->
                    <!--<div class="col-md-12 text-right ">
                        <a href="/#!/DeliverySchedule" ng-click="$ctrl.Add();" class="btn create-btn ">Delivery Schedule</a>
                    </div>-->
                    <!--</div>
                    </div>-->

                    <div class="form-group">

                        <div class="col-md-3">
                            <b>Sr. No.</b>

                            <input type="text" placeholder="Select leadid" ng-model="2245" name="leadid" class="form-control" disabled />
                        </div>
                        <div class="col-md-3">
                            <b>Item Status </b>
                            <select id="txtLeadStatusId" class="form-control" ng-model="$ctrl.AssessmentInfo.LeadStatusId" style="width:100%" disabled>
                                <option value="">Select</option>
                                <option ng-repeat="item in $ctrl.LeadStatusDropDown" value={{item.LeadStatusID}}>{{item.Status}}</option>
                            </select>

                        </div>
                        <div class="col-md-3">
                            <b>Sales Office </b>
                            <select id="txtLeadStatusId" class="form-control" ng-model="$ctrl.AssessmentInfo.LeadStatusId" style="width:100%" disabled>
                                <option value="">Select</option>
                                <option ng-repeat="item in $ctrl.LeadStatusDropDown" value={{item.LeadStatusID}}>{{item.Status}}</option>
                            </select>

                        </div>
                        <div class="col-md-3">
                            <b>Opportunity Type </b>
                            <select id="txtLeadType" class="form-control leader-create-dropdown" ng-model="$ctrl.AssessmentInfo.LeadType" name="LeadType" tabindex="2" required disabled>
                                <option value="">Select</option>
                                <option ng-repeat="item in $ctrl.LeadTypeDropDown" value={{item.ID}}>{{item.LeadTypeDesc}}</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <b>Opportunity Category </b>

                            <select id="txtLeadCategory" class="form-control leader-create-dropdown" ng-model="$ctrl.AssessmentInfo.LeadCategoryID" name="LeadCategory" tabindex="2" disabled>
                                <option value="">Select</option>
                                <option ng-repeat="item in $ctrl.LeadCategoryDropDown" value={{item.LeadCategoryID}}>{{item.LeadCategory}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <b>Project Name </b>
                            <select id="ddlprojectname" class="form-control leader-create-dropdown" name="ProjectName" ng-model="$ctrl.AssessmentInfo.ProjectID" disabled>
                                <option value="">Select</option>
                                <option ng-repeat="item in $ctrl.ProjectNameDD" value={{item.ProjectID}}>{{item.ProjectName}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <b>Industry Division </b>
                            <select class="form-control" ng-model="$ctrl.AssessmentInfo.IndustryDivisionID" disabled>
                                <option value="">Select</option>
                                <option ng-repeat="item in $ctrl.IndustryDivisionDropDown" value={{item.IndustryDivisionID}}>{{item.IndustryDivision}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <b>Industry Segment </b>
                            <select class="form-control" ng-model="$ctrl.AssessmentInfo.IndustrialSegmentID" disabled>
                                <option value="">Select</option>
                                <option ng-repeat="item in $ctrl.IndustrialSegmentDropDown" value={{item.IndustrialSegmentID}}>{{item.IndustrialSegment}}</option>
                            </select>
                        </div>


                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <b>Plan to Purchase Within </b>
                            <select id="purchaseddl" class="form-control leader-create-dropdown" ng-model="$ctrl.AssessmentInfo.PurchaseTimelineID" disabled>
                                <option value="">Select</option>
                                <option ng-repeat="item in $ctrl.PurchaseTimlinedd" value={{item.PurchaseTimelineID}}>{{item.Title}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <b>Quantity </b>
                            <input type="text" placeholder="Select Quantity" ng-model="$ctrl.AssessmentInfo.Quantity" name="quantity" class="form-control" disabled />
                        </div>
                        <div class="col-md-3">
                            <b>Category </b>
                            <select id="txtCategory" name="Category" ng-model="$ctrl.AssessmentInfo.CategoryID" ng-change="$ctrl.Division();" class="form-control leader-create-dropdown" tabindex="2" required disabled>
                                <option value="">Select</option>
                                <option ng-repeat="item in $ctrl.CategoryDropDown" value={{item.CategoryID}}>{{item.Category}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <b>Division </b>

                            <select id="txtDivision" name="Division" ng-model="$ctrl.AssessmentInfo.DivisionID" ng-change="$ctrl.Product();" class="form-control leader-create-dropdown" tabindex="2" required disabled>
                                <option value="">Select</option>
                                <option ng-repeat="item in $ctrl.DivisionDropDownP" value={{item.DivisionID}}>{{item.Division}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <b>Product </b>
                            <select id="txtProduct" name="Product" ng-model="$ctrl.AssessmentInfo.ProductID" ng-change="$ctrl.Model();" class="form-control leader-create-dropdown" tabindex="2" required disabled>
                                <option value="">Select</option>
                                <option ng-repeat="item in $ctrl.ProductDropDown" value={{item.ProductID}}>{{item.Product}}</option>

                            </select>
                        </div>
                        <div class="col-md-3">
                            <b>Model </b>
                            <select id="txtModel" name="Model" ng-model="$ctrl.AssessmentInfo.ModelID" class="form-control leader-create-dropdown" tabindex="2" required disabled>
                                <option value="">Select</option>
                                <option ng-repeat="item in $ctrl.ModelDropDown" value={{item.ModelID}}>{{item.ModelNo}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <b>Channel </b>
                            <select id="txtChannel" name="txtChannel" ng-model="$ctrl.AssessmentInfo.ChannelID" class="form-control leader-create-dropdown" ng-change="$ctrl.LeadSource();" tabindex="2" disabled>
                                <option value="">Select</option>
                                <option ng-repeat="item in $ctrl.ChannelDD" value="{{item.ID}}">{{item.Channel}}</option>

                            </select>
                        </div>
                        <div class="col-md-3">
                            <b>Opportunity Source  </b>

                            <select id="ddlleadsource" class="form-control leader-create-dropdown" name="LeadSource" ng-model="$ctrl.AssessmentInfo.LeadSourceID" ng-change="$ctrl.LeadSourceChange();" disabled>
                                <option value="">Select</option>
                                <option ng-repeat="item in $ctrl.LeadSourcedd" value={{item.LeadSourceID}}>{{item.LeadSource}}</option>
                            </select>
                        </div>
                        <!--<div class="col-md-3">
                            <b>Sales Area </b>
                            <select id="txtSales" name="SalesArea" ng-model="$ctrl.AssessmentInfo.SalesAreaID" class="form-control">
                                <option value="">Select</option>
                                <option ng-repeat="item in $ctrl.SalesAreaDropDown" value={{item.SalesAreaID}}>{{item.SalesArea}}</option>
                            </select>
                        </div>-->
                    </div>
                    <div class="form-group">

                        <div class="col-md-3">
                            <b>Comments </b>
                            <textarea class="form-control" placeholder="Add Comments" ng-model="$ctrl.AssessmentInfo.Comments" rows="3" id="address" disabled></textarea>
                        </div>

                    </div>

                </form>
            </div>
            <!-- Search Loader Started -->
            <div class="search-loader" id="ass-btn-loader1" style="display: none;background: rgba(0,0,0,.5)">
                <div class="search-loader-container">
                    <img class="search-gif-loader" src="../../../../../Content/assets/img/loader-icon.gif" />
                </div>
            </div>
            <!-- Search Loader Ended -->
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
    <div class="modal-dialog modal-2">
        <div class="modal-content " style="position: relative">
            <div class="modal-header modal-head">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title modal-head-title"> OPPORTUNITY DETAILS   - <span>{{$ctrl.AssessmentInfo.LeadID}}</span></h3>
            </div>

            <div id="div-1" class="modal-body">
                <form class="form-horizontal" name="userForm" novalidate>

                    <div class="form-group">

                        <div class="col-md-3">
                            <b>Opportunity No </b>

                            <input type="text" placeholder="Select leadid" ng-model="" name="leadid" class="form-control" disabled />
                        </div>
                        <div class="col-md-3">
                            <b>Opportunity Status </b>
                            <select id="txtLeadStatusId" class="form-control" ng-model="$ctrl.AssessmentInfo.LeadStatusId" style="width:100%" disabled>
                                <option value="">Select</option>
                                <option ng-repeat="item in $ctrl.LeadStatusDropDown" value={{item.LeadStatusID}}>{{item.Status}}</option>
                            </select>

                        </div>
                        <div class="col-md-3">
                            <b>Description </b>
                            <textarea style="width:90%;" ng-model="$ctrl.AssessmentInfo.Description" disabled></textarea>

                        </div>
                        <div class="col-md-3">
                            <b>Notes </b>
                            <textarea style="width:90%;" ng-model="$ctrl.AssessmentInfo.Notes" disabled></textarea>
                        </div>

                    </div>


                    <div class="form-group">

                        <div class="col-md-12">
                            <h4><b>Customer Detail</b></h4>
                            <hr />
                        </div>

                        <div class="col-md-3">
                            <b>Customer Name </b>
                            <input type="text" placeholder="Customer Name" ng-model="$ctrl.AssessmentInfo.CompanyName" id="txtCustomerName" class="form-control" name="customer-name" disabled />
                        </div>
                        <div class="col-md-3">
                            <b>Mobile No </b>
                            <input type="text" ng-model="$ctrl.AssessmentInfo.MobileNo" id="txtCustomerName" class="form-control" name="customer-name" disabled />
                        </div>
                        <div class="col-md-3">
                            <b>Pincode </b>
                            <input type="text" ng-model="$ctrl.AssessmentInfo.Pincode" id="txtCustomerName" class="form-control" name="customer-name" disabled />
                        </div>

                        <div class="col-md-3">
                            <b>Address </b>
                            <input type="text" class="form-control" rows="5" ng-model="$ctrl.AssessmentInfo.Address1" maxlength="40" id="txtAddr1" disabled>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-3">
                            <b>Email </b>
                            <input type="email" id="txtCustEmail" ng-model="$ctrl.AssessmentInfo.Email" name="mail" class="form-control" disabled />
                        </div>
                        <div class="col-md-3">
                            <b>Phone No </b>
                            <input type="text" ng-model="$ctrl.AssessmentInfo.PhoneNo" name="mail" class="form-control" disabled />
                        </div>
                        <div class="col-md-3">
                            <b>Country </b>
                            <input type="text" ng-model="$ctrl.AssessmentInfo.Country" name="mail" class="form-control" disabled />
                        </div>
                        <div class="col-md-3">
                            <b>State </b>
                            <input type="text" ng-model="$ctrl.AssessmentInfo.State" name="mail" class="form-control" disabled />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <b>District </b>
                            <input type="text" ng-model="$ctrl.AssessmentInfo.District" name="mail" class="form-control" disabled />
                        </div>
                        <div class="col-md-3">
                            <b>City </b>
                            <input type="text" ng-model="$ctrl.AssessmentInfo.City" name="mail" class="form-control" disabled />
                        </div>

                    </div>


                    <div class="form-group">

                        <div class="col-md-12">
                            <h4><b>Contact Detail</b></h4>
                            <hr />
                        </div>

                        <div class="col-md-3">
                            <b>Contact Person </b>
                            <input type="text" placeholder="Customer Name" ng-model="$ctrl.AssessmentInfo.ContactName" id="txtCustomerName" class="form-control" name="customer-name" disabled />
                        </div>
                        <div class="col-md-3">
                            <b>Mobile No </b>
                            <input type="text" ng-model="$ctrl.AssessmentInfo.ContactMobileNo" id="txtCustomerName" class="form-control" name="customer-name" disabled />
                        </div>
                        <div class="col-md-3">
                            <b>Email </b>
                            <input type="text" ng-model="$ctrl.AssessmentInfo.ContactEmail" id="txtCustomerName" class="form-control" name="customer-name" disabled />
                        </div>

                        <div class="col-md-3">
                            <b>Phone No </b>
                            <input type="text" class="form-control" rows="5" ng-model="$ctrl.AssessmentInfo.ContactPhoneNo" maxlength="40" id="txtAddr1" disabled>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-3">
                            <b>Country </b>
                            <input type="email" id="txtCustEmail" ng-model="$ctrl.AssessmentInfo.Country" name="mail" class="form-control" disabled />
                        </div>
                        <div class="col-md-3">
                            <b>State </b>
                            <input type="email" id="txtCustEmail" ng-model="$ctrl.AssessmentInfo.ContactState" name="mail" class="form-control" disabled />
                        </div>
                        <div class="col-md-3">
                            <b>District </b>
                            <input type="email" id="txtCustEmail" ng-model="$ctrl.AssessmentInfo.ContactDistrict" name="mail" class="form-control" disabled />
                        </div>
                        <div class="col-md-3">
                            <b>City </b>
                            <input type="email" id="txtCustEmail" ng-model="$ctrl.AssessmentInfo.ContactCity" name="mail" class="form-control" disabled />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <b>Pincode </b>
                            <input type="email" id="txtCustEmail" ng-model="$ctrl.AssessmentInfo.Address" name="mail" class="form-control" disabled />
                        </div>
                        <div class="col-md-3">
                            <b>Address </b>
                            <input type="email" id="txtCustEmail" ng-model="$ctrl.AssessmentInfo.Address" name="mail" class="form-control" disabled />
                        </div>
                        <div class="col-md-3">
                            <b>Designation </b>
                            <input type="email" id="txtCustEmail" ng-model="$ctrl.AssessmentInfo.PhoneNo" name="mail" class="form-control" disabled />
                        </div>
                        <div class="col-md-3">
                            <b>Department </b>
                            <input type="email" id="txtCustEmail" ng-model="$ctrl.AssessmentInfo.Department" name="mail" class="form-control" disabled />
                        </div>

                    </div>


                </form>
            </div>
            <!-- Search Loader Started -->
            <div class="search-loader" id="ass-btn-loader1" style="display: none;background: rgba(0,0,0,.5)">
                <div class="search-loader-container">
                    <img class="search-gif-loader" src="../../../../../Content/assets/img/loader-icon.gif" />
                </div>
            </div>
            <!-- Search Loader Ended -->
        </div>
    </div>
</div>



<script type="text/javascript">
    function mydate() {
        //alert("");
        document.getElementById("dt").hidden = false;
        document.getElementById("ndt").hidden = true;
    }
    function mydate1() {
        d = new Date(document.getElementById("dt").value);
        dt = d.getDate();
        mn = d.getMonth();
        mn++;
        yy = d.getFullYear();
        document.getElementById("ndt").value = dt + "/" + mn + "/" + yy
        document.getElementById("ndt").hidden = false;
        document.getElementById("dt").hidden = true;
    }
</script>