<style>
    .err-msg-box {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        font-size: 20px;
        padding-top: 60px;
        background: #debcbc;
    }
</style>
<!--<ul class="tab-class nav nav-tabs">
    <li><a href="/#!/ProjectTrackerDashboard">Project Tracker Dashboard</a></li>
    <li class="active"><a href="/#!/ProjectTrackerZoneWise">Project Tracker Zone Wise</a></li>
</ul>-->
<div class="row">
    <div class="col-lg-12">
        <div class="header">
            <h2 class="page-title">Project Tracker Zone Wise</h2>
        </div>
    </div>
</div>
<div class="selection-filter-container">
    <h2 class="section-header-title">Selection Filter</h2>
    <div class="selection-filter-sub-container">
        <!--<div class="row">
            <div class="col-lg-8 col-md-8">
                <label>Project Name </label>
                <input type="text" name="txtProjectName" id="txtProjectName" class="form-control" />
            </div>
            <div class="col-md-4">
                <label>Project Type</label>
                <select id="ddlProjectType" name="ProjectType" class="form-control col-lg-4" ng-model="$ctrl.ProjectDashboardSearch.ProjectType" style="width:100%">
                    <option value="">Select</option>
                    <option ng-repeat="item in $ctrl.ProjectTypeDD" value={{item.ProjectTypeID}}>{{item.ProjectType}}</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <label>Project Stage</label>
                <select id="ddlProjectStage" name="ProjectStage" class="form-control col-lg-4" ng-model="$ctrl.ProjectDashboardSearch.ProjectStage" style="width:100%">
                    <option value="">Select</option>
                    <option ng-repeat="item in $ctrl.ProjectStageDD" value={{item.ProjectStageID}}>{{item.ProjectStage}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Type Of Project</label>
                <select id="ddcustProjectType" name="custProjectType" class="form-control col-lg-4" ng-model="$ctrl.ProjectDashboardSearch.CustProjectType" style="width:100%">
                    <option value="">Select</option>
                    <option ng-repeat="item in $ctrl.CustProjectTypeDD" value={{item.ProjectID}}>{{item.ProjectType}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Project Source</label>
                <select id="ddlProjectOwnership" name="ProjectSource" class="form-control col-lg-4" ng-model="$ctrl.ProjectDashboardSearch.ProjectSource" style="width:100%">
                    <option value="">Select</option>
                    <option ng-repeat="item in $ctrl.ProjectSourceDD" value={{item.ProjectSourceID}}>{{item.ProjectSource}}</option>
                </select>
            </div>

        </div>
        <br />-->
        <div class="row">
            <!--<div class="col-md-4">
                <label>Industry</label>
                <select id="ddlProjectIndustry" name="ProjectIndustry" class="form-control col-lg-4" ng-model="$ctrl.ProjectDashboardSearch.Industry" style="width:100%">
                    <option value="">Select</option>
                    <option ng-repeat="item in $ctrl.ProjectIndustryDD" value={{item.ProjectIndustryID}}>{{item.ProjectIndustry}}</option>
                </select>
            </div>-->
            <div class="col-md-4">
                <label>Zone</label>
                <select id="txtZone" name="Product" ng-model="$ctrl.ProjectDashboardSearch.ZoneID" ng-change="$ctrl.ProjectAssign();" class="form-control">
                    <option value="">Select</option>
                    <option ng-repeat="item in $ctrl.ZoneDD" value="{{item.ID}}">{{item.ZoneName}}</option>
                </select>
            </div>
            <div class="col-lg-4 col-md-4" style="display:none">
                <div class="form-group">
                    <label class="form-label">Project Assign<span class="Mandatory">*</span></label>
                    <!--<input type="text" placeholder="Project Assign" name="txtProjectAssign" id="txtProjectAssign" class="form-control" />-->
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle chkBox-btn" type="button" data-toggle="dropdown">
                            Select<span class="caret checkbox-dropdown-caret"></span>
                        </button>
                        <ul class="dropdown-menu chkBox-btn-container">
                            <li ng-repeat="item in $ctrl.UserMasterDropDown"><input type="checkbox" ng-model="item.IsChecked" ng-click="$ctrl.addUser(item.ID, item.UserName, item.IsChecked);" class="chkBox"><span>{{item.UserName}}</span></li>
                            <!--<li ng-repeat="item in $ctrl.UserMasterDropDown"><input type="checkbox" ng-click="$ctrl.addUser(item.ID);" class="chkBox"><span>{{item.UserName}}</span></li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 selection-filter-btn-col left">
                <button type="button" class="btn search-btn" name="name" ng-click="$ctrl.Search();">Search</button>
                <button type="button" class="btn clear-btn" ng-click="$ctrl.Clear();" name="name">Clear</button>
            </div>
        </div>
        <!--<div class="row">

            <div class="col-md-4">
                <label>Start Date</label>
                <input id="hfDate" type="hidden" name="hfFromDate">
                <input name="txtFromDate" placeholder="DD MMM YYYY" input="hfFromDate" data-intro="true" id="txtFromDate" style="width: 100%;" class="form-control">
            </div>
            <div class="col-md-4">
                <label>End Date</label>
                <input id="hfDate" type="hidden" name="hfToDate">
                <input name="txtToDate" placeholder="DD MMM YYYY" input="hfToDate" data-intro="true" id="txtToDate" style="width: 100%;" class="form-control">
            </div>
        </div>-->
    </div>
</div>
<br />
<div class="table-container">
    <h2 class="section-header-title">Output</h2>
    <div class="table-sub-container">
        <!--<div class="row">
            <div class="col-md-6">
                <h5>Summary By Products</h5>
            </div>
            <div class="col-md-6 text-right">
                <input type="submit" class="btn download-btn" name="name" value="Download Excel" />
            </div>
        </div>
        <br />
        <div class="table-responsive">
            <table class="table table-bordered customer-list-table ">
                <thead class="customer-list-heading">
                    <tr>
                        <th>Project Name</th>
                        <th>Product</th>
                        <th>Model</th>
                        <th>No of Deals</th>
                        <th>Won</th>
                        <th>Lost</th>
                        <th>Opportunities</th>
                        <th>Project Cost</th>
                        <th>Opportunity Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <h5>Summary By Zone</h5>
            </div>
            <div class="col-md-6 text-right">
                <input type="submit" class="btn download-btn" name="name" value="Download Excel" />
            </div>
        </div>
        <br />
        <div class="table-responsive">
            <table class="table table-bordered customer-list-table ">
                <thead class="customer-list-heading">
                    <tr>
                        <th>Zone</th>
                        <th>Project Name</th>
                        <th>Product</th>
                        <th>Model</th>
                        <th>No of Deals</th>
                        <th>Total Opportunities</th>
                        <th>Won</th>
                        <th>Lost</th>
                        <th>Active</th>
                        <th>Project Cost</th>
                        <th>Opportunity Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>-->

        <div class="row ">
            <div class="col-lg-6 col-md-6">
                <div class="lead-chart-container">
                    <h3 class="tile-title-1 text-center">Project Type</h3>
                    <div class="lead-chart-row" style="position: relative">
                        <div class="row">
                            <div class="col-md-5 lead-chart-left-col" id="Type-graph-container">
                                <!--<canvas width="150" height="150" id="lead-population"></canvas>-->
                            </div>
                            <div class="col-md-7">
                                <ul id="c5-detail" class="lead-chart-sub-container"></ul>
                            </div>
                        </div>
                        <div ng-show="$ctrl.ProjectTypeGraphData.length == 0" class="err-msg-box">
                            No Data Found
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="lead-chart-container">
                    <h3 class="tile-title-1 text-center">Project Source</h3>
                    <div class="lead-chart-row" style="position: relative">
                        <div class="row">
                            <div class="col-md-5 lead-chart-left-col" id="Source-graph-container">
                                <!--<canvas width="150" height="150" id="opportunity-population"></canvas>-->
                            </div>
                            <div class="col-md-7">
                                <ul id="c6-detail" class="lead-chart-sub-container"></ul>
                            </div>
                        </div>
                        <div ng-show="$ctrl.ProjectSourceGraphData.length == 0" class="err-msg-box">
                            No Data Found
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-lg-6 col-md-6">
                <div class="lead-chart-container">
                    <h3 class="tile-title-1 text-center">Project Industry</h3>
                    <div class="lead-chart-row" style="position: relative">
                        <div class="row">
                            <div class="col-md-5 lead-chart-left-col" id="Industry-graph-container">
                                <!--<canvas width="150" height="150" id="lead-population"></canvas>-->
                            </div>
                            <div class="col-md-7">
                                <ul id="c7-detail" class="lead-chart-sub-container"></ul>
                            </div>
                        </div>
                        <div ng-show="$ctrl.ProjectIndustryGraphData.length == 0" class="err-msg-box">
                            No Data Found
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="lead-chart-container">
                    <h3 class="tile-title-1 text-center">Project Stage</h3>
                    <div class="lead-chart-row" style="position: relative">
                        <div class="row">
                            <div class="col-md-5 lead-chart-left-col" id="stage-graph-container">
                                <!--<canvas width="150" height="150" id="opportunity-population"></canvas>-->
                            </div>
                            <div class="col-md-7">
                                <ul id="c8-detail" class="lead-chart-sub-container"></ul>
                            </div>
                        </div>
                        <div ng-show="$ctrl.ProjectStageGraphData.length == 0" class="err-msg-box">
                            No Data Found
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-6 col-md-6">
                <div class="lead-chart-container">
                    <h3 class="tile-title-1 text-center">Zone Wise</h3>
                    <div class="lead-chart-row" style="position: relative">
                        <div class="row">
                            <div class="col-md-5 lead-chart-left-col" id="zone-graph-container">
                                <!--<canvas width="150" height="150" id="lead-population"></canvas>-->
                            </div>
                            <div class="col-md-7">
                                <ul id="c9-detail" class="lead-chart-sub-container"></ul>
                            </div>
                        </div>
                        <div ng-show="$ctrl.ProjectZoneGraphData.length == 0" class="err-msg-box">
                            No Data Found
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="lead-chart-container">
                    <h3 class="tile-title-1 text-center">Sales Rep Wise</h3>
                    <div class="lead-chart-row" style="position: relative">
                        <div class="row">
                            <div class="col-md-5 lead-chart-left-col" id="assignto-graph-container">
                                <!--<canvas width="150" height="150" id="opportunity-population"></canvas>-->
                            </div>
                            <div class="col-md-7">
                                <ul id="c10-detail" class="lead-chart-sub-container"></ul>
                            </div>
                        </div>
                        <div ng-show="$ctrl.ProjectAssignToGraphData.length == 0" class="err-msg-box">
                            No Data Found
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-2 col-md-2 text-right">
                    <h4 style="margin-top:8px;color:#56688A;"><b>More Graphs  -  </b></h4>
                </div>
                <div class="col-lg-10 col-md-10" style="margin-top:8px;">
                    <input type="checkbox" ng-model="$ctrl.Leadchk" style="margin-left:17px;"> Lead Population
                    <input type="checkbox" ng-model="$ctrl.Opportunitychk" style="margin-left:17px;"> Opportunity Population
                    <input type="checkbox" ng-model="$ctrl.Equipmentchk" style="margin-left:17px;"> Lead Equipment Quantity
                    <input type="checkbox" ng-model="$ctrl.OppEquipmentQuantitychk"> Opportunity Equipment Quantity
                    <input type="checkbox" ng-model="$ctrl.Divisionchk"> Division 

                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12 col-md-12" ng-show="$ctrl.Leadchk == true">
                <div class="lead-chart-container">
                    <h3 class="tile-title-1 text-center">Lead Population (Activity Completed, Activity Created, Allocated, Closed, Converted, Delayed, Inprocess, Deferred)</h3>
                    <div class="lead-chart-row" style="position: relative">
                        <div class="row">
                            <div class="col-md-3 lead-chart-left-col" id="lead-graph-container">
                                <!--<canvas width="150" height="150" id="lead-population"></canvas>-->
                            </div>
                            <div class="col-md-9">
                                <ul id="c2-detail" class="lead-chart-sub-container"></ul>
                            </div>
                        </div>
                        <div ng-show="$ctrl.LeadStatusGraphData.length == 0" class="err-msg-box">
                            No Data Found
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12" ng-show="$ctrl.Opportunitychk == true">
                <div class="lead-chart-container">
                    <h3 class="tile-title-1 text-center">Opportunity Population</h3>
                    <div class="lead-chart-row" style="position: relative">
                        <div class="row">
                            <div class="col-md-3 lead-chart-left-col" id="Opportunity-graph-container">
                                <!--<canvas width="150" height="150" id="opportunity-population"></canvas>-->
                            </div>
                            <div class="col-md-9">
                                <ul id="c3-detail" class="lead-chart-sub-container"></ul>
                            </div>
                        </div>
                        <div ng-show="$ctrl.OpportunityGraphData.length == 0" class="err-msg-box">
                            No Data Found
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12 col-md-12" ng-show="$ctrl.Equipmentchk == true">
                <div class="lead-chart-container">
                    <h3 class="tile-title-1 text-center">Lead Equipment Quantity</h3>
                    <div class="lead-chart-row" style="position: relative">
                        <div class="row">
                            <div class="col-md-3 lead-chart-left-col" id="equipment-graph-container">
                                <!--<canvas width="150" height="150" id="equipment-population"></canvas>-->
                            </div>
                            <div class="col-md-9">
                                <ul id="c1-detail" class="lead-chart-sub-container"></ul>
                            </div>
                        </div>
                        <div ng-show="$ctrl.ModelGraphData.length == 0" class="err-msg-box">
                            No Data Found
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12" ng-show="$ctrl.OppEquipmentQuantitychk == true">
                <div class="lead-chart-container">
                    <h3 class="tile-title-1 text-center">Opportunity Equipment Quantity</h3>
                    <div class="lead-chart-row" style="position: relative">
                        <div class="row">
                            <div class="col-md-3 lead-chart-left-col" id="OppEquipmentQuantity-graph-container">
                            </div>
                            <div class="col-md-9">
                                <ul id="c20-detail" class="lead-chart-sub-container"></ul>
                            </div>
                        </div>
                        <div ng-show="$ctrl.OppEquipmentQuantityGraphData.length == 0" class="err-msg-box">
                            No Data Found
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12" ng-show="$ctrl.Divisionchk == true">
                <div class="lead-chart-container">
                    <h3 class="tile-title-1 text-center">Division Population</h3>
                    <div class="lead-chart-row" style="position: relative">
                        <div class="row">
                            <div class="col-md-3 lead-chart-left-col" id="division-graph-container">
                            </div>
                            <div class="col-md-9">
                                <ul id="c4-detail" class="lead-chart-sub-container"></ul>
                            </div>
                        </div>
                        <div ng-show="$ctrl.DivisionGraphData.length == 0" class="err-msg-box">
                            No Data Found
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
