<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="header page-title-container">
            <h5 class="page-title">Display Documents</h5>
        </div>
    </div>
</div>
<div class="selection-filter-container">
    
        <h5 class="section-header-title">Selection Filters</h5>
    <div class="selection-filter-sub-container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <label>Customer Name</label>
                <input type="text" class="form-control" ng-model="$ctrl.CCModelHeader.ccCode" name="name" value="" />
            </div>
            <div class="col-lg-3 col-md-3 selection-filter-btn-col">
                <input type="submit" class="btn btn-primary" name="name" value="Search" />
            </div>
        </div>
    </div>
</div>
<div class="selection-filter-container">
    
        <h5 class="section-header-title">Mandatory Documents List</h5>
    <div class="selection-filter-sub-container documents-body">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <label title="Application Form">Application Form</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="PAN / Form No 16">PAN / Form No 16</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="ID and Address Proof">ID and Address Proof</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="Photograph">Photograph</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="Bank Acc No">Bank Acc No</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="selection-filter-container">
    
        <h5 class="section-header-title">Retail / Sub Retails</h5>
    <div class="selection-filter-sub-container documents-body">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <label title="Fleet List">Fleet List</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="Bank Acc No">Bank Acc No</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="Existing Vehicle Reg Copy">Existing Vehicle Reg Copy</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="Existing Loan Schedule and Repayment Track">
                    Existing Loan Schedule and Repayment Track
                </label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="ITR and Audit Report (CY)">ITR and Audit Report (CY)</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="ITR and Audit Report (CY-1)">ITR and Audit Report (CY-1)</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="Work Order (If Available)">Work Order (If Available)</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="selection-filter-container">
    
        <h5 class="section-header-title">Strategic Customers</h5>
    <div class="selection-filter-sub-container documents-body">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <label title="Certificate of Incorporation">Certificate of Incorporation</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="Memorandom and article Assosiation">Memorandom and article Assosiation</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="Work Order (If Available)">Work Order (If Available)</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="PAN of the Company">
                    PAN of the Company
                </label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="Extract from Register Company">Extract from Register Company</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="Resolution from board of director">Resolution from board of director</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="Fleet List">Fleet List</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="Existing Vehicle Reg copy">Existing Vehicle Reg copy</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="ITR and Audit Report (CY)">ITR and Audit Report (CY)</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="ITR and Audit Report (CY-1)">ITR and Audit Report (CY-1)</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <label title="Legal Suits">Legal Suits</label>
                <div class="documents-img-container">
                    <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="display-container" class="document-display-container">
    <div class="ddc-header text-right">
        <button id="close"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
    <div class="dcc-2">
        <img class="img-responsive documents-img" src="../../../../Content/assets/img/fake-document.jpg" />
    </div>
</div>