<head>

    <link href="../../../../Content/assets/shubham_css/style.css" rel="stylesheet" />
</head>
<style>
</style>

<div id="content">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h2 class="page-title">SubSource2</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 page-title-right-container text-right">
            <button id="#myBtnNextMetting" class="btn create-btn pull-right" data-toggle="modal" ng-click="$ctrl.Add();" data-target="#myModalAddNew"> Add SubSource2 </button>
        </div>
    </div>
    <div class="selection-filter-container">
        <h2 class="section-header-title">Selection Filter</h2>
        <div id="div-1" class="selection-filter-sub-container">
            <div class="row">
                <div class="col-sm-12 col-md-12" style="padding-left:0px">
                    <!--<div class="box">-->
                    <form id="validVal">
                        <div class="col-md-12" style="border-bottom:0px solid black;padding-left:0;padding-bottom:15px;">
                            <div class="col-md-3">
                                <label>Search By</label>
                                <input value="" class="form-control" type="text" ng-model="$ctrl.SubSource2Search.Subsource2"
                                       placeholder=" SubSource2 " style="width:100%" />

                            </div>
                            <div class="col-lg-4 selection-filter-btn-col">
                                <button id="btnSearch" type="button" class="btn search-btn" ng-click="$ctrl.SearchSubSource2List();">Search</button>
                                <button id="btnClear" type="button" class="btn clear-btn" ng-click="$ctrl.Clear();">Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="divlist">
            <div id="div-1" class="body">
                <form id="" class="form-inline">
                    <div class="row" style="margin:0px;">
                        <div class="table-container">
                            <h2 class="section-header-title">Subsource2 List</h2>
                            <div class="row">
                                <div class="col-md-12" id="divlist">
                                    <div class="table-sub-container">
                                        <div id="div-1" class="body">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <label class="table-label">Count - {{$ctrl.SubSource2list.length}} </label>
                                                </div>
                                                <div class="col-lg-6 col-md-6 text-right">
                                                    <label class="table-label">Records/Page - </label>
                                                    <select name="Status" id="DDLStatus" ng-change="$ctrl.Refresh()" ng-model="$ctrl.NoOfRds" class="no-record-dropdown">
                                                        <option value=10>10</option>
                                                        <option value=30>30</option>
                                                        <option value=50>50</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="validation-table table-responsive">
                                                <table id="dataTable" class="table table-striped table-bordered customer-list-table">
                                                    <thead class="customer-list-heading">
                                                        <tr>
                                                            <!--<th>SubSource2 ID</th>-->
                                                            <th>Lead Source</th>
                                                            <th>Subsource</th>
                                                            <th>SubSource2</th>
                                                            <th>Description</th>
                                                            <th>Status</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in $ctrl.shownItems">
                                                            <td>{{item.LeadSource}}</td>
                                                            <td>{{item.Subsource}}</td>
                                                            <td>{{item.Subsource2}}</td>
                                                            <td>{{item.Description}} </td>
                                                            <td>{{item.IsActive}}</td>
                                                            <td>
                                                                <span class="edit-table-link" ng-click="$ctrl.Edit(item.Subsource2ID);" data-toggle="modal" data-target="#myModalAddNew"><i class="fa fa-edit"></i></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row nex-prev-container">
                                            <div class="col-lg-12 col-md-12 text-right">
                                                <button ng-show="$ctrl.ShowBack" ng-click="$ctrl.back()" class="btn btn-default">Prev</button>
                                                <button ng-show="$ctrl.ShowNext" ng-click="$ctrl.next()" class="btn btn-default">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Search Loader Started -->
                            <div class="search-loader" id="search-btn-loader">
                                <div class="search-loader-container">
                                    <img class="search-gif-loader" src="../../../../../Content/assets/img/loader-icon.gif" />
                                </div>
                            </div>
                            <!-- Search Loader Ended -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="nullDataDiv" style="display: none;">
    <br />
    <div class="mdl-grid jumbotron">
        <h3 class="page-header" style="color: brown; margin-left: 33%">
            <i class="fa fa-exclamation-triangle">
            </i>&nbsp; No Data available
        </h3>
    </div>
</div>
<!-- --------------------------------PopUP------------------------------------------------ -->

<div class="modal fade" id="myModalAddNew" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content modal-1">
            <!-----------------------------Lable----------------------------------------->
            <div class="modal-header modal-head">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title modal-head-title" id="myModalLabel2">Add SubSource2</h4>
            </div>
            <div id="div-1" class="modal-body">
                <form name="userForm" novalidate>
                    <!-- ----------------------------Text------------------------------->
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label for="Address">Lead Source <span class="Mandatory">*</span></label>

                                <select id="txtleadSource" name="txtleadSource" class="form-control" ng-model="$ctrl.InsertSubsource2.LeadSourceID" ng-change="$ctrl.Subsource2();" tabindex="2">
                                    <option value="">Select</option>
                                    <option ng-repeat="item in $ctrl.LeadSourceDD" value="{{item.LeadSourceID}}">{{item.LeadSource}}</option>
                                </select>
                                <!--<p ng-show="(userForm.txtleadSource.$invalid && !userForm.txtleadSource.$pristine)" id="errortitle" class="help-block" style="color:red">LeadSource is required.</p>-->

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label for="Address">Sub Source <span class="Mandatory">*</span></label>

                                <select id="txtsubSource" name="txtsubSource" class="form-control" ng-model="$ctrl.InsertSubsource2.SubsourceID" tabindex="2" required>
                                    <option value="">Select</option>
                                    <option ng-repeat="item in $ctrl.SubSourceDDwp" value="{{item.SubsourceID}}">{{item.Subsource}}</option>
                                </select>
                                <!--<p ng-show="(userForm.txtsubSource.$invalid && !userForm.txtsubSource.$pristine)" id="errortitle" class="help-block" style="color:red">Sub Source is required.</p>-->

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label for="Address">Sub Source2 <span class="Mandatory">*</span></label>

                                <input type="text" id="txtSub2" name="txtSub2" class="form-control" ng-model="$ctrl.InsertSubsource2.Subsource2" required>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label for="Address">Description <span class="Mandatory">*</span></label>

                                <textarea rows="6" cols="50" id="txtDesc" name="txtDesc" class="form-control" ng-model="$ctrl.InsertSubsource2.Description" required>
                            </textarea>
                                <!--<p ng-show="(userForm.txtDesc.$invalid && !userForm.txtDesc.$pristine)" id="errortitle" class="help-block" style="color:red">Description is required.</p>-->

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label for="Address">Status</label>

                                <select name="Status" class="form-control" tabindex="2" ng-model="$ctrl.InsertSubsource2.Status" required>
                                    <option value="">Select</option>
                                    <option value="1"> Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                                <!--<p ng-show="(userForm.txtStatus.$invalid && !userForm.txtStatus.$pristine)" id="errortitle" class="help-block" style="color:red">Status is required.</p>-->

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Submit" id="btnSubmit" class="btn search-btn" ng-click="$ctrl.Submit();">
            </div>
        </div>
    </div>
</div>
<div id="succeess-message-box" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->

        <div class="modal-content">
            <div class="modal-header" id="success-modal-head">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title success-modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <p>
                    <img id="success-img-id" style="width: 40px;" src="../../../../../Content/assets/img/success-img.gif" />
                    <img id="error-img-id" style="width: 28px;" src="../../../../../Content/assets/img/error-img.png" />
                    <span id="message-text">Data Inserted Successfully</span>
                </p>
            </div>
            <div class="modal-footer message-modal-footer">
                <button type="button" class="btn btn-default" ng-click="$ctrl.Close();" id="close" data-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.ErrorClose();" id="errorclose" data-dismiss="modal">Ok</button>
            </div>
        </div>

    </div>
</div>
