<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

</head>
<body>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <h5 class="page-title" id="txtUserName" style="font-size:16px">{{$ctrl.Name}} : Calendar </h5>
        </div>
        <div class="col-lg-4 col-md-4" style="padding-top:15px;">
            <label style="margin-left:-40px">User : </label>
            <select style="margin-top: -28px" class="form-control" ID="ddlDelgDDl" ng-model="$ctrl.CalActivitySearch.ManagerCode" ng-change="$ctrl.ChangeDelgUser($ctrl.CalActivitySearch.ManagerCode)">
                <option value="">Select</option>
                <option ng-repeat="item in $ctrl.DeligationDropDown" value={{item.ManagerCode}}>{{item.EmployeeName}}</option>
            </select>
        </div>
        <div class="col-lg-2 col-md-2" style="padding-top:10px">
            <a href="/#!/Home" class="btn create-btn pull-right">Dashboard</a>
        </div>
    </div><br />
    <div id="calendar-container">
        <!--<div id="calendar" style="margin-top: 50px;"></div>-->
    </div>
    <div class="modal fade" id="myModalAddNew" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-2">
            <div class="modal-content " style="position: relative">
                <div class="modal-header modal-head">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title modal-head-title"> ACTIVITY REPORT | Activity Number -{{$ctrl.InsertAct.actid}}</h3>
                </div>
                <div id="div-1" class="modal-body" style="height:500px; overflow: scroll">
                    <form class="form-horizontal" name="userForm" novalidate>
                        <div class="form-group">
                            <div class="col-md-4">
                                <b>Activity Type </b>
                                <select class="form-control autotab viewDetails editactivity" ng-change="$ctrl.SalesBuisness()" ng-model="$ctrl.InsertAct.ptype" ID="ddlacttype">
                                    <option value="">Select</option>
                                    <option ng-repeat="item in $ctrl.ActivityTypeDropDown" value={{item.PurposeID}}>{{item.Purpose}}</option>
                                </select>
                            </div>
                        </div>
                        <div id="customer-contact-detail">
                            <h4 class="section-header-title">Customer Details</h4>
                            <div class="selection-filter-sub-container">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <b>Customer Name / SAP ID</b>
                                        <input type="text" id="txtCustomerName" name="txtCustomerName" placeholder="Enter Customer Name" class="form-control" />
                                    </div>

                                    <div class="col-md-4">
                                        <b>Mobile No</b>
                                        <input type="text" id="txtCustMobile" ng-model="$ctrl.CustDetails.MobileNo" name="mobile" maxlength="10" class="form-control" disabled="disabled" />
                                    </div>

                                    <div class="col-md-4">
                                        <b>SAP ID</b>
                                        <input type="text" id="txtSapId" ng-model="$ctrl.CustDetails.BusinessPartnerNo" name="sapid" class="form-control" disabled="disabled" />
                                    </div>

                                </div>
                            </div>
                            <br />
                            <h4 class="section-header-title">Contact Details</h4>
                            <div class="selection-filter-sub-container">
                                <div id="existingContactList" style="display:none;">
                                    <div class="table-responsive" id="ContactList">
                                        <table class="table table-striped table-bordered customer-list-table">
                                            <thead class="customer-list-heading">
                                                <tr>
                                                    <th>Contact Name</th>
                                                    <th>SAP ID</th>
                                                    <th>Mobile No</th>
                                                    <th>Designation</th>
                                                    <th>Select</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in $ctrl.Contactinfo">
                                                    <td>{{item.ContactName}}</td>
                                                    <td>{{item.BusinessPartnerNo}}</td>
                                                    <td>{{item.MobileNo}}</td>
                                                    <td>{{item.FOP}}</td>
                                                    <td><input type="radio" value="{{item.ContactID}}" ng-click="$ctrl.ContactInformation(item.BusinessPartnerNo);" id="messageCheckbox" name="contactradio" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="EditContact">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <b>Contact Name</b>
                                            <input type="text" id="txtContactName" ng-model="$ctrl.EditContact.ContactName" class="form-control editactivity" />
                                        </div>
                                        <!--<div class="col-md-4">
                                            <b>Mobile No</b>
                                            <input type="text" id="txtCustMobile" ng-model="$ctrl.InsertAct.MobileNo" name="mobile" maxlength="10" class="form-control" />
                                        </div>-->
                                        <div class="col-md-4">
                                            <b>Contact SAPID</b>
                                            <input type="text" id="txtCustMobile" ng-model="$ctrl.InsertAct.conid" class="form-control editactivity" />
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <br />
                        <h4 class="section-header-title">Activity Details</h4>
                        <div class="selection-filter-sub-container">
                            <div class="form-group" ID="ddlActivityLetter">
                                <div id="Activity-Against">
                                    <div class="col-md-4">
                                        <b>Activity Against</b>
                                        <select class="form-control autotab viewDetails" ng-change="$ctrl.ActivityAgainst()" ng-model="$ctrl.InsertAct.agnst" ID="ddlActivityagainst">
                                            <option value="0">Select</option>
                                            <option value="1">Financer</option>
                                            <option value="2">Influencer</option>
                                            <option value="3">Cold Call Activity</option>
                                            <option value="4">Customer Loyalty</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4" ID="ddlLetterCoo">
                                    <b>Letter COO</b>
                                    <select class="form-control autotab viewDetails" ng-model="$ctrl.InsertAct.ltter" id="ddlLetter">
                                        <option value="">Select</option>
                                        <option value="Y">Yes</option>
                                        <option value="N">No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <b>Activity Date </b>
                                    <!--<input id="hfActivityDate" type="hidden" name="hfActivityDate">-->
                                    <input name="date" input="hfActivityDate" data-intro="true" id="date" class="form-control">
                                </div>
                                <!--<div class="col-md-4">
                                    <b>Start time</b>
                                    <input type="text" id="start-tme" class="form-control" name="name" value="" />
                                </div>
                                <div class="col-md-4">
                                    <b>End time</b>
                                    <input type="text" id="end-tme" class="form-control" name="name" value="" />
                                </div>-->
                                <div class="col-md-4">
                                    <b>Category </b>
                                    <select class="form-control autotab viewDetails" ng-model="$ctrl.InsertAct.cate" ID="ddlmode">
                                        <option value="">Select</option>
                                        <option ng-repeat="item in $ctrl.ModeActivityDropDown" value={{item.ModeID}}>{{item.Mode}}</option>
                                    </select>

                                </div>
                                <div class="col-md-4">
                                    <b>Activity Status </b>
                                    <select class="form-control autotab viewDetails" ID="ddlStatus" name="rblIsMeet" ng-model="$ctrl.InsertAct.ActivityStatus">
                                        <option value="">Select</option>
                                        <option ng-repeat="item in $ctrl.LeadActivityStatusDD" value={{item.StatusID}}>{{item.Status}}</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <b>Purpose </b>
                                    <select class="form-control autotab viewDetails" ng-model="$ctrl.InsertAct.purid" ID="ddlPurpose">
                                        <option value="">Select</option>
                                        <option ng-repeat="item in $ctrl.LeadActivityPurposeDD" value={{item.Description}}>{{item.LeadSource}}</option>

                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <b>Location </b>
                                    <select class="form-control autotab viewDetails" ng-model="$ctrl.InsertAct.loc" ID="ddlLocation">
                                        <option value="">Select</option>
                                        <option ng-repeat="item in $ctrl.LeadActivityLocationDD" value={{item.LocationID}}>{{item.Location}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <b>Notes </b>
                                    <input type="text" name="city" ng-model="$ctrl.InsertAct.note" maxlength="60" class="form-control" id="txtnotes" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="btnSubmit" value="Save Activity Report" ng-click="$ctrl.SubmitActivity();" class="btn search-btn">
                </div>
                <!-- Search Loader Started -->
                <div class="search-loader" id="ass-btn-loader1" style="display: none;background: rgba(0,0,0,.5)">
                    <div class="search-loader-container" style="padding-top: 250px">
                        <img class="search-gif-loader" src="../../../../../Content/assets/img/loader-icon.gif" />
                    </div>
                </div>
                <!-- Search Loader Ended -->
            </div>
        </div>
    </div>

    <div id="succeess-message-box" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-header" id="success-modal-head">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title success-modal-title">Message</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <img id="success-img-id" style="width: 40px;" src="../../../../../Content/assets/img/success-img.gif" />
                        <img id="error-img-id" style="width: 28px;" src="../../../../../Content/assets/img/error-img.png" />
                        <span id="message-text">Data Inserted Successfully</span>
                    </p>
                </div>
                <div class="modal-footer message-modal-footer">
                    <button type="button" class="btn btn-default" ng-click="$ctrl.Close();" id="close" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.ErrorClose();" id="errorclose" data-dismiss="modal">Ok</button>
                </div>
            </div>

        </div>
    </div>


</body>
</html>