<head>

    <link href="../../../../Content/assets/shubham_css/style.css" rel="stylesheet" />
</head>
<style>
</style>


<div id="content">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h2 class="page-title">Industry Division Management</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 page-title-right-container text-right">
            <button id="#myBtnNextMetting" class="btn create-btn" data-toggle="modal" data-target="#myModalAddNew" ng-click="$ctrl.Add();"> Add Industry Division </button>
        </div>
    </div>
    <div class="selection-filter-container">
        <h2 class="section-header-title">Selection Filter</h2>
        <div id="div-1" class="selection-filter-sub-container">
            <div class="row">
                <div class="col-sm-12 col-md-12" style="padding-left:0px">
                    <!--<div class="box">-->
                    <form id="validVal">
                        <div class="col-md-12" style="border-bottom:0px solid black;padding-left:0;padding-bottom:15px;">
                            <div class="col-md-3">
                                <label>Search By</label>
                                <input id="txtIndustry" class="form-control" type="text" ng-model="$ctrl.IndustrySearch.SearchText"
                                       placeholder="Search by IndustryDivision Name " style="width:100%" />

                            </div>
                            <div class="col-md-3">
                                <label>Status</label>

                                <select id="txtStatus" name="Status" class="form-control" ng-model="$ctrl.IndustrySearch.Status" style="width:100%">
                                    <option value="">Select</option>
                                    <option value="1"> Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                            <div class="col-lg-4 selection-filter-btn-col">
                                <button id="btnSearch" type="button" ng-click="$ctrl.SearchIndustryList();" class="btn search-btn">Search</button>
                                <button id="btnClear" type="button" ng-click="$ctrl.Clear();" class="btn clear-btn">Clear</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
    <!--<h3 class="acco-sub-heading" style="font-size: 18px; border-color: #fff"> Industry Division List </h3>-->
    <div class="table-container">
        <h2 class="section-header-title">Industry Division List</h2>
        <div class="row">
            <div class="col-md-12" id="divlist">
                <div class="table-sub-container">
                    <div id="div-1" class="body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <label class="table-label">Count - {{$ctrl.IndustryDivisionList.length}} </label>
                            </div>
                            <div class="col-lg-6 col-md-6 text-right">
                                <label class="table-label">Records/Page - </label>
                                <select name="Status" id="DDLStatus" ng-change="$ctrl.Refresh()" ng-model="$ctrl.NoOfRds" class="no-record-dropdown">
                                    <option value=10>10</option>
                                    <option value=30>30</option>
                                    <option value=50>50</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="validation-table table-responsive" style="overflow:auto;">
                            <table id="dataTable" class="table table-striped table-bordered customer-list-table">
                                <thead class="customer-list-heading">
                                    <tr>

                                        <th>Industry Division</th>
                                        <th>SAP ID</th>
                                        <th>Date Created</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in $ctrl.shownItems">

                                        <td>{{item.IndustryDivision}}</td>
                                        <td>{{item.SAPID}}</td>
                                        <td>{{item.WhenEntered}}</td>
                                        <td>{{item.Status}}</td>

                                        <td>
                                            <span class="edit-table-link" ng-click="$ctrl.Edit(item.IndustryDivisionID);" data-toggle="modal" data-target="#myModalAddNew"><i class="fa fa-edit"></i></span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row nex-prev-container">
                        <div class="col-lg-12 col-md-12 text-right">
                            <button ng-show="$ctrl.ShowBack" ng-click="$ctrl.back()" class="btn btn-default">Prev</button>
                            <button ng-show="$ctrl.ShowNext" ng-click="$ctrl.next()" class="btn btn-default">Next</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Search Loader Started -->
        <div class="search-loader" id="search-btn-loader">
            <div class="search-loader-container">
                <img class="search-gif-loader" src="../../../../../Content/assets/img/loader-icon.gif" />
            </div>
        </div>
        <!-- Search Loader Ended -->
    </div>
</div>
<span id="nullDataDiv" style="display: none;">
    <br />
    <div class="mdl-grid jumbotron">
        <h3 class="page-header" style="color: brown; margin-left: 33%">
            <i class="fa fa-exclamation-triangle">
            </i>&nbsp; No Data available
        </h3>
    </div>
</span>





<!-- --------------------------------PopUP------------------------------------------------ -->

<div class="modal fade" id="myModalAddNew" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content modal-1">
            <!-----------------------------Lable----------------------------------------->
            <div class="modal-header modal-head">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title modal-head-title" id="myModalLabel2">Industry Division Management</h4>
            </div>
            <div id="div-1" class="modal-body">
                <form name="userForm" novalidate>
                    <div class="row">
                        <!-- ----------------------------Text------------------------------->
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label for="Address">Industry Division <span class="Mandatory">*</span></label>
                                <input type="text" id="txtIndDivision" name="IndustryDivision" ng-model="$ctrl.InsertIndustry.IndustryDivision" class="form-control" required>
                                <p ng-show="(userForm.txtIndDivision.$invalid && !userForm.txtIndDivision.$pristine)" id="errortitle" class="help-block" style="color:red">IndustryDivision is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label for="Address"> SAP ID <span class="Mandatory">*</span></label>

                                <input type="text" id="txtSAPID" name="SAPID" class="form-control" ng-model="$ctrl.InsertIndustry.SAPID" required>
                                <p ng-show="(userForm.txtSAPID.$invalid && !userForm.txtSAPID.$pristine)" id="errortitle" class="help-block" style="color:red">SAPID is required.</p>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label for="Address">Status</label>

                                <select name="Status" ng-model="$ctrl.InsertIndustry.Status" class="form-control col-lg-4" tabindex="2" required>
                                    <option value="">Select</option>
                                    <option value="1"> Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                                <p ng-show="(userForm.txtStatus.$invalid && !userForm.txtStatus.$pristine)" id="errortitle" class="help-block" style="color:red">Status is required.</p>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--<input type="submit" id="btnSubmit" ng-click="$ctrl.InsertSegment1();" data-toggle="modal" data-target="#myModalAddNew" class="btn btn-primary pull-right">-->
                <input type="submit" value="Submit" id="btnSubmit" ng-click="$ctrl.Submit();" class="btn search-btn">
            </div>
        </div>
    </div>
</div>

<div id="succeess-message-box" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->

        <div class="modal-content">
            <div class="modal-header" id="success-modal-head">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title success-modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <p>
                    <img id="success-img-id" style="width: 40px;" src="../../../../../Content/assets/img/success-img.gif" />
                    <img id="error-img-id" style="width: 28px;" src="../../../../../Content/assets/img/error-img.png" />
                    <span id="message-text">Data Inserted Successfully</span>
                </p>
            </div>
            <div class="modal-footer message-modal-footer">
                <button type="button" class="btn btn-default" ng-click="$ctrl.Close();" id="close" data-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.ErrorClose();" id="errorclose" data-dismiss="modal">Ok</button>
            </div>
        </div>

    </div>
</div>
