

<head>
    <link href="../../../../Content/assets/shubham_css/style.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        ::-webkit-scrollbar-thumb {
            overflow-x: scroll !important;
            background: #808080;
        }
    </style>
</head>



<div class="row">
    <div class="col-lg-6">
        <div class="header">
            <h2 class="page-title">All Activities</h2>
        </div>
    </div>
</div>
<div class="selection-filter-container">
    <h2 class="section-header-title">Selection Filter</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="selection-filter-sub-container">
                <div class="row">
                    <form method="post">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-2 col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">From Date</label>
                                        <input id="hfFromDate" type="hidden" name="hfFromDate">
                                        <input name="txtFromDate" placeholder="DD MMM YYYY" input="hfFromDate" data-intro="true" id="txtFromDate" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">To Date</label>
                                        <input id="hfFromDate" type="hidden" name="hfFromDate">
                                        <input name="txtToDate" placeholder="DD MMM YYYY" input="hfFromDate" data-intro="true" id="txtToDate" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">Activity No</label>
                                        <input type="text" placeholder="Activity No" ng-model="$ctrl.AllActSearchModel.ActivityID" class="form-control" name="name" value="" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">Lead ID</label>
                                        <input type="text" placeholder="Lead ID" ng-model="$ctrl.AllActSearchModel.LeadID" class="form-control" name="name" value="" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">Opportunity ID</label>
                                        <input type="text" placeholder="Opportunity ID" ng-model="$ctrl.AllActSearchModel.OpportunityID" class="form-control" name="name" value="" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">Created By</label>
                                        <input type="text" name="username" id="txtUserName" placeholder="User Name" class="form-control" value="" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-2 col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">Activity Type</label>
                                        <select id="txtActivityType" name="ActivityType" class="form-control col-lg-4" ng-model="$ctrl.AllActSearchModel.ActivityType">
                                            <option value="">Select</option>
                                            <option value="1">Lead Activity</option>
                                            <option value="2">Opportunity Activity</option>
                                            <option value="3">Business Activity</option>
                                            <!--<option ng-repeat="item in $ctrl.ActivityTypeDropDown" value="{{item.ID}}">{{item.ActivityType}}</option>-->

                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-10 selection-filter-btn-col text-right">
                                    <input type="submit" name="btnSubmit" value="Search" ng-click="$ctrl.Search()" id="btnSubmit" class="btn search-btn">
                                    <input type="submit" name="btnSubmit" value="Clear" ng-click="$ctrl.Clear()" id="btnSubmit" class="btn clear-btn">
                                    <input type="submit" name="btnSubmit" value="Download Excel" id="btnSubmit" ng-click="$ctrl.exportTableToCSV('AllActivitiesReport.csv')" class="btn download-btn">
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tiles-section" style="display:none">
    <div class="row">
        <div class="col-lg-12 col-md-12 ">
            <!--<div class="dashboard-col-updatecol-lg-2 col-md-2 tile-col">-->
            <!--<div class="info-container">
                <h2 class="tile-title">Allocated Leads</h2>
                <input name="txtTotalLead" type="text" id="txtTotalLead" ng-model="$ctrl.getAllLeadCount.Allocated" class="form-control" style="width:100%" disabled>
            </div>-->
            <div class="dashboard-col-update col-lg-2 col-md-2 tile-col">
                <div class="dashboard-tile one-tile">
                    <i class="fa fa-shopping-bag dash-font-icon" aria-hidden="true"></i>
                    <input name="txtTotalLead" type="text" id="txtAllocatedLead" ng-model="$ctrl.getAllLeadCount.Allocated" class="form-control" style="width:100%" disabled>
                    <p class="dashboard-sugession">Allocated</p>
                </div>
            </div>

            <div class="dashboard-col-update col-lg-2 col-md-2 tile-col">
                <!--<div class="info-container">
                    <h2 class="tile-title">Deferred</h2>
                    <input name="txtTotalLead" type="text" id="txtTotalLead" ng-model="$ctrl.getAllLeadCount.Deferred" class="form-control" style="width:100%" disabled>
                </div>-->

                <div class="dashboard-tile one-tile">
                    <i class="fa fa-shopping-bag dash-font-icon" aria-hidden="true"></i>
                    <input name="txtTotalLead" type="text" id="txtTotalLead" ng-model="$ctrl.getAllLeadCount.Deferred" class="dashboard-tile-inputdata" style="width:100%" disabled>
                    <p class="dashboard-sugession">Deferred</p>
                </div>
            </div>
            <div class="dashboard-col-update col-lg-2 col-md-2 tile-col">
                <div class="dashboard-tile two-tile">
                    <i class="fa fa-shopping-bag dash-font-icon" aria-hidden="true"></i>
                    <input name="txtTotalLead" type="text" id="txtTotalLead" ng-model="$ctrl.getAllLeadCount.Delayed" class="dashboard-tile-inputdata" style="width:100%" disabled>
                    <p class="dashboard-sugession">Delayed</p>
                </div>
            </div>
            <div class="dashboard-col-update col-lg-2 col-md-2 tile-col">
                <div class="dashboard-tile one-tile">
                    <i class="fa fa-shopping-bag dash-font-icon" aria-hidden="true"></i>
                    <input name="txtTotalLead" type="text" id="txtInprocessLead" ng-model="$ctrl.getAllLeadCount.Inprocess" class="dashboard-tile-inputdata" style="width:100%" disabled>
                    <p class="dashboard-sugession">Inprocess</p>
                </div>
            </div>
            <div class="dashboard-col-update col-lg-2 col-md-2 tile-col">
                <div class="dashboard-tile one-tile">
                    <i class="fa fa-shopping-bag dash-font-icon" aria-hidden="true"></i>
                    <input name="txtTotalLead" type="text" id="txtTotalLead" ng-model="$ctrl.getAllLeadCount.ActivityCreated" class="dashboard-tile-inputdata" style="width:100%" disabled>
                    <p class="dashboard-sugession">Activity Created</p>
                </div>

            </div>
            <!--<div class="dashboard-col-update col-lg-2 col-md-2 tile-col">
                <div class="dashboard-tile one-tile">
                    <i class="fa fa-shopping-bag dash-font-icon" aria-hidden="true"></i>
                    <input name="txtTotalLead" type="text" id="txtTotalLead" ng-model="$ctrl.getAllLeadCount.ActivityCompleted" class="dashboard-tile-inputdata" style="width:100%" disabled>
                    <p class="dashboard-sugession">Activity Completed</p>
                </div>
            </div>-->
            <div class="dashboard-col-update" style="padding-top:5px">
                <div class="dashboard-tile one-tile">
                    <i class="fa fa-shopping-bag dash-font-icon" aria-hidden="true"></i>
                    <input name="txtTotalLead" type="text" id="txtTotalLead" ng-model="$ctrl.getAllLeadCount.ActivityCompleted" class="dashboard-tile-inputdata" style="width:100%" disabled>
                    <p class="dashboard-sugession">Activity Complete</p>
                </div>
            </div>
            <div class="dashboard-col-update col-lg-2 col-md-2 tile-col">
                <div class="dashboard-tile one-tile">
                    <i class="fa fa-shopping-bag dash-font-icon" aria-hidden="true"></i>
                    <input name="txtTotalLead" type="text" id="txtConvertedLead" ng-model="$ctrl.getAllLeadCount.Converted" class="dashboard-tile-inputdata" style="width:100%" disabled>
                    <p class="dashboard-sugession">Converted</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Table Started -->
<div class="table-container">
    <h2 class="section-header-title">
        Output List
    </h2>
    <div class="row">
        <div class="col-md-12" id="divlist">
            <div class="table-sub-container">
                <div id="div-1" class="body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <!-- <label class="table-label">Count : {{$ctrl.FillAllActivitiesGrid.length}} </label> -->
                        </div>
                        <div class="col-lg-6 col-md-6 text-right">
                            <label class="table-label">No of Records Display : </label>
                            <select name="NoOfRds" id="DDLStatus" ng-change="$ctrl.Refresh()" ng-model="$ctrl.NoOfRds" class="no-record-dropdown">
                                <option value=10>10</option>
                                <option value=30>30</option>
                                <option value=50>50</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="validation-table table-responsive" style="overflow:auto;">
                        <table id="dataTable" class="table table-striped table-bordered customer-list-table ">
                            <thead class="customer-list-heading">
                                <tr>
                                    <th>Activity No</th>
                                    <th>Lead ID</th>
                                    <th>Opportunity ID</th>
                                    <th>Activity Date</th>
                                    <th>Created By</th>
                                    <th>Activity Type</th>
                                    <th>Activity Status</th>
                                    <th>Customer Name</th>
                                    <th>Contact Name</th>
                                    <th>Activity Against</th>
                                    <th>Category</th>
                                    <th>Location</th>
                                    <th>Purpose</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in $ctrl.shownItems">
                                    <td>{{item.ActivityNumber}}</td>
                                    <td>{{item.ReferenceLead}}</td>
                                    <td>{{item.ReferenceOpportunity}}</td>
                                    <td>{{item.ActivityDate}}</td>
                                    <td>{{item.CreatedBy}}</td>
                                    <td>{{item.ActivityType}}</td>
                                    <td>{{item.Status}}</td>
                                    <td>{{item.CompanyName}}</td>
                                    <td>{{item.ContactName}}</td>
                                    <td>{{item.ActivityAgainst}}</td>
                                    <td>{{item.Category}}</td>
                                    <td>{{item.Location}}</td>
                                    <td>{{item.Purpose}}</td>
                                    <td>{{item.Note}}</td>
                                </tr>

                            </tbody>
                        </table>
                        <table id="excelDownload" style="display:none;">
                            <thead>
                                <tr>
                                    <th>Activity No</th>
                                    <th>Lead ID</th>
                                    <th>Opportunity ID</th>
                                    <th>Activity Date</th>
                                    <th>Created By</th>
                                    <th>Activity Type</th>
                                    <th>Activity Status</th>
                                    <th>Customer Name</th>
                                    <th>Contact Name</th>
                                    <th>Activity Against</th>
                                    <th>Category</th>
                                    <th>Location</th>
                                    <th>Purpose</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in $ctrl.DownloadAllActListGrid">
                                    <td>{{item.ActivityNumber}}</td>
                                    <td>{{item.ReferenceLead}}</td>
                                    <td>{{item.ReferenceOpportunity}}</td>
                                    <td>{{item.ActivityDate}}</td>
                                    <td>{{item.CreatedBy}}</td>
                                    <td>{{item.ActivityType}}</td>
                                    <td>{{item.Status}}</td>
                                    <td>{{item.CompanyName}}</td>
                                    <td>{{item.ContactName}}</td>
                                    <td>{{item.ActivityAgainst}}</td>
                                    <td>{{item.Category}}</td>
                                    <td>{{item.Location}}</td>
                                    <td>{{item.Purpose}}</td>
                                    <td>{{item.Note}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
                <div id="nullDataDiv" style="display: none;">
                    <div class="mdl-grid jumbotron">
                        <h3 class="page-header" style="color: brown; margin-left: 33%">
                            <i class="fa fa-exclamation-triangle">
                            </i>&nbsp; No Data available
                        </h3>
                    </div>
                </div>
                <!--<div class="row nex-prev-container">
                    <div class="col-lg-12 col-md-12 text-right">
                        <button ng-show="$ctrl.ShowBack" ng-click="$ctrl.back()" class="btn btn-default">Prev</button>
                        <button ng-show="$ctrl.ShowNext" ng-click="$ctrl.next()" class="btn btn-default">Next</button>
                    </div>

                </div>-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-right">
                        <button class="btn btn-default" ng-show="$ctrl.ShowBack" ng-click="$ctrl.previousPage()">
                            Prev
                        </button>
                        <button class="btn btn-default" ng-show="$ctrl.ShowNext" ng-click="$ctrl.nextPage()">
                            Next
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Search Loader Started -->
    <div class="search-loader" id="search-btn-loader">
        <div class="search-loader-container">
            <img class="search-gif-loader" src="../../../../../Content/assets/img/loader-icon.gif" />
        </div>
    </div>
    <!-- Search Loader Ended -->
</div>
<!-- ==================================================== Table Section Ended =============================================== -->
<!-- ==================================================== Table Section Ended =============================================== -->
<!-- View Modal Started -->
<div id="detailModal" class="modal fade" role="dialog" style="margin-top:-10px">
    <div class="modal-dialog modal-3">
        <style>
            .modal-sub-heading {
                padding: 5px 10px;
                padding-top: 5px;
                font-size: 12px;
            }

            .form-label {
                margin-bottom: -5px;
            }

            .modal-footer {
                padding-top: 4px;
                padding-bottom: 4px;
            }

            .search-btn {
                font-size: 11px;
            }
        </style>
        
