<div class="row">
    <div class="col-lg-12 col-md-12">
        <h2 class="page-title">Quotation List</h2>
    </div>
</div>
<div class="selection-filter-container">
    <h5 class="section-header-title">Selection Filter</h5>
    <div class="selection-filter-sub-container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <label>Customer Name</label>
                <input type="text" id="txtCustomerName" class="form-control" name="CustomerName" value="" />
            </div>
            <div class="col-lg-3 col-md-3">
                <label>Opp Number</label>
                <input type="text" id="txtOppNumber" class="form-control" ng-model="$ctrl.QuotationSearch.OppNumber" name="OppNumber" value="" />
            </div>
            <div class="col-lg-3 col-md-3">
                <label>Quotation No</label>
                <input type="text" id="txtQuotationNo" class="form-control" ng-model="$ctrl.QuotationSearch.QuotationNo" name="QuotationNo" value="" />
            </div>
            <div class="col-lg-3 col-md-3 selection-filter-btn-col">
                <button id="btnSearch" type="button" class="btn search-btn" ng-click="$ctrl.SearchQuotationList();">Search</button>
                <button id="btnClear" type="button" class="btn clear-btn" ng-click="$ctrl.Clear();">Clear</button>
            </div>
        </div>
    </div>
</div>
<div class="table-container">
    <h5 class="section-header-title">Output List</h5>
    <div class="table-sub-container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <label class="table-label">Count - {{$ctrl.Quotationlist.length}} </label>
            </div>
            <div class="col-lg-6 col-md-6 text-right">
                <label class="table-label">Records/Page - </label>
                <select name="Status" id="DDLStatus" ng-change="$ctrl.Refresh()" ng-model="$ctrl.NoOfRds" class="no-record-dropdown">
                    <option value=10>10</option>
                    <option value=30>30</option>
                    <option value=50>50</option>
                </select>
            </div>
        </div>
        <br />
        <div class="validation-table table-responsive">
            <table id="dataTable" class="table table-striped table-bordered customer-list-table">
                <thead class="customer-list-heading">
                    <tr>
                        <th>Quotation No</th>
                        <th>Lead No</th>
                        <th>Customer Name</th>
                        <th>Contact Name</th>
                        <th>Sales Person Name</th>
                        <th>Mobile No</th>
                        <th>Designation No</th>
                        <th>Created By</th>
                        <th>Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $ctrl.shownItems">
                        <td>{{item.OpportunitySAPNo}}</td>
                        <td>{{item.ModelNo}}</td>
                        <td>{{item.OpportunityDate}}</td>
                        <td>{{item.CustomerName}}</td>
                        <td>{{item.OppStatus}}</td>
                        <td>{{item.OppStage}}</td>
                        <td style="text-decoration:underline">
                            <a href="/#!/EditQuotation?OpportunitySAPNo={{item.OpportunitySAPNo}}">{{item.QuotationRefernce}}</a></td>
                        <td>
                            <span ng-show="item.QuotationRefernce == ''"><a href="/#!/CreateQuotation?OpportunitySAPNo={{item.OpportunitySAPNo}}">Create</a></span>
                        </td>
                        <td>{{item.CreatedBy}}</td>
                        <td>{{item.QuotationDate}}</td>
                        <td class="text-center">
                            <a ng-disabled="item.QuotationRefernce == ''" id="btnView" class="btn btn-primary pdf-btn" href="https://gcplqapps.gainwellindia.com:8087/api/QuotPDF?QuotID={{item.OpportunitySAPNo}}&UserID={{$ctrl.UserID}}">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            </a>
                            <!--<a ng-disabled="item.QuotationRefernce == ''" id="btnView" class="btn btn-primary pdf-btn" href="http://localhost:57684/api/QuotPDF?QuotID={{item.OpportunitySAPNo}}&UserID={{$ctrl.UserID}}">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            </a>-->
                        </td>
                        <td>
                            <a ng-disabled="item.QuotationRefernce == ''" class="btn btn-success wht-btn" target="_blank" href="https://web.whatsapp.com/">
                                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            <a ng-disabled="item.QuotationRefernce == ''" href="mailto:?subject=GCPL%20Quotation" class="btn btn-danger email-btn" id="mail-id">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="row nex-prev-container">
            <div class="col-lg-12 col-md-12 text-right">
                <button ng-show="$ctrl.ShowBack" ng-click="$ctrl.back()" class="btn btn-default">Prev</button>
                <button ng-show="$ctrl.ShowNext" ng-click="$ctrl.next()" class="btn btn-default">Next</button>
            </div>
        </div>
    </div>
    <!-- Search Loader Started -->
    <div class="search-loader" id="search-btn-loader">
        <div class="search-loader-container">
            <img class="search-gif-loader" src="../../../../../Content/assets/img/loader-icon.gif" />
        </div>
    </div>
    <!-- Search Loader Ended -->
</div>