<body class=login ng-controller=LoginPageController>
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=rup5fPaxTpPtfEXH6_86znZqSD7FYDs9bgF74ii6SWkQFlKN5Uxvg9Op3ACWVSgHifj3CHyl8Sw38xIwONbsL7afEh0zdOMwwBgcFwbYm9Geg4M4QzumbjB-qj_Md_nmDINqNjrRwiKVlh5unC5iTFZaKzuw8LQzfjRqAsiaK6vyABt2OosiiFTlxa0_0Vui" charset="UTF-8"></script>
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=fN0T7gwO3TULcCs99Wj6D42Hs9My7b5pVncl6RuL-YSYBJVox0ELg_YbhNAOP4MB3Y7zW0pHU6GHwrH47fP8PQ64Q3xj5tVSPMtL6y6cMU0RR6aaV_JXXMGMQwm6rlM8W2neL68tZQVs6xh45JXZgwGsrd43EE4oZCWxud50ES-Ilk-VsdhrF0EjIIVjJaiK" charset=UTF-8></script>
    <div class=text-center>
        CEMS
    </div>
    <div class=form-signin>
        <login-component></login-component>
    </div>
</body>
